beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.3.1
Flask==3.0.2
idna==3.6
importlib_metadata==7.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
MouseInfo==0.1.3
pillow==10.2.0
PyAudio @ file:///D:/Course/Indonesia%20Belajar/Virtual%20Assistance/Virtual%20Assistance/PyAudio-0.2.11-cp39-cp39-win_amd64.whl#sha256=d83958e47e7986a6faab46baa9f86dd64e5171c3302b8f073c28b7984926ec9c
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.30
pyttsx3==2.90
pytweening==1.2.0
pywhatkit==5.4
pywin32==306
requests==2.31.0
soupsieve==2.5
SpeechRecognition==3.10.1
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.1
wikipedia==1.4.0
zipp==3.18.0
